
@font-face {
  font-family: 'ArialRoundedMTBold';
  src: url('ArialRoundedMTBold.eot?#iefix') format('embedded-opentype'),  url('ArialRoundedMTBold.woff') format('woff'), url('ArialRoundedMTBold.ttf')  format('truetype'), url('ArialRoundedMTBold.svg#ArialRoundedMTBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
